.fix{
  max-height: 25%;
  margin-top: 10%;
  background: lightblue;
}

.heading{
  color: black;
}
.BG{
  background-image: url("/assets/tennisball3.jpeg");
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font: 400 15px/1.8 "Lato", sans-serif;
  position: relative;
  /*opacity: 0.50;*/
}
