.fix{
  max-height: 25%;
  margin-top: 10%
}

.example-container {
  height: 400px;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 50%;
}
.mat-row:hover {
  background-color: cornflowerblue;
  cursor: pointer;
}
.invisble {
  color: white;
  opacity: 0%;
}

.BG{
  background-image: url("/assets/tennisball2.jpeg");
  margin: 0;
  padding: 0;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font: 400 15px/1.8 "Lato", sans-serif;
  position: relative;
  /*opacity: 0.50;*/
}
