<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25" class=container >
    <div class="horizontal">
      <h3 class="black padding">filler</h3>
      <button mat-raised-button class="width button-center padding" type="submit" (click)="goToPageLogin()">Match Won</button>
      <button mat-raised-button class="width button-center padding" type="submit" (click)="goToPageMain()">Set Level</button>
      <button mat-raised-button class="width button-center padding" type="submit" (click)="goToPagePoint()">Point Level</button>
      <h3 class="black">filler</h3>
    </div>
  </mat-card>
</div>
